<div class="card product-container">
  <img
    src={{product.url}}
    class="card-img-top"
    alt="..."
  />
  <div class="card-body" style="text-align: center">
    <h5 class="card-title">{{product.name}}</h5>
    <p>${{product.price}}</p>
    <form (ngSubmit)="addItemToCart()">
      <p>Quantity: <input name="productQuantity" style="max-width: 50px; border-radius: 5px; border: 1px solid black; text-align: center" type="number" id="quantity" min="1" [(ngModel)]="formQuantity"></p>
      <div style="margin-top: 20px">
        <a routerLink="details/{{product.id}}" class="btn btn-outline-success" style="margin-right: 10px">Details</a>
        <button type="submit" class="btn btn-success">Add to cart</button>
      </div>
    </form>
  </div>
</div>
